<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuelta de vacaciones</title>
</head>
<body>
    <h2>Registro</h2>
    <form action="" method="post">
        <label for="name">Name</label>
        <input type="text" name="name">
        <label for="lastname">Lastname</label>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="insert email">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="insert password">
    </form>
</body>
</html>
